{% extends "base_site.html" %}

{% block head %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
                var cls=$("li.divider-vertical.active").attr("class");
                cls=cls.replace("active","");                
                $("li.divider-vertical.active").attr("class", cls);

                cls = $("#blog_link").attr("class");
                cls += " active";
                $("#blog_link").attr("class", cls);
            })
    </script>
{% endblock %}

{% block container %}
    <br/>
    <div class="container">        
        <div class="row">
            <div class="span8">
            {% block content %}
            {% endblock %}
            </div>

            <div class="span4">                
            {% block nav %}
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
