{% extends "blog/base_blog.html" %}

{% block content %}
    <div class="row">
        <div class="span8">
            <form action="{% url 'blog:comment_submit' article.id %}" method="post">
                {% csrf_token %}
                <textarea name="detail" rows="3" placeholder="type something..." class="input-block-level"></textarea>
                <input class="pull-right" type="submit" value="submit" />
                <br />
            </form> 
            {% if article.comment_set %}
                {% for comment in comment_list %}
                <p>{{ comment.detail }}</p>
                <p class="text-right"><small>{{ comment.pub_date }}</small></p>
                    {% if not forloop.last %}
                    <hr />
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
