{% extends "blog/base_blog.html" %}

{% block head %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
                $("#comment").click(function(){
                    }
                )
            }
        )
    </script>
{% endblock %}

{% block content %}
    {% if article_list %}
        {% for article in article_list%}
            <div class="row">
                <div class="span7 well">
                    <h3><a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a></h3>
                    <p>{{ article.detail }}</p>
                    <hr/>
                    <div class="row">
                        <div class="span3 text-left">
                            <span><small>{{ article.pub_date }}</small></span>
                        </div>
                        <div class="span4 text-right">
                            <a href="#"><small>read(23)</small></a>
                            <a id="comment" href="#"><small>comment({{ article.comment_set.all.count }})</small></a>                            
                        </div>
                    </div>

                    <div id="comment-form disable">
                        <form>
                            {% csrf_token %}
                            <textarea name="detail" rows="3" placeholder="type something..." class="input-block-level"></textarea>
                            <input class="pull-right" type="submit" value="submit" />
                            <br />
                        </form> 
                    </div>
                </div>
                <div id="span1">
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="pagination pagination-centered">
        <ul>
            {% if article_list.has_previous %}
                <li><a href="?page={{ article_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for page_num in pagenum_list %}                        
                {% if page_num == article_list.number %}
                    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if article_list.has_next %}
                <li><a href="?page={{ article_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>    
{% endblock %}

{% block nav %}
    <div class="nav-list well">
        <ul class="nav nav-list">
            <li class="nav-header">Category</li>
            <li class="active">
                <a href="#">Link</a>
            </li>
        </ul>
    </div>
{% endblock %}
